ul{
    list-style-type: none;
    text-align: center;
    
}
li{
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 10px; */
}
body{
    background-color: black;
}
#div1{
    border: 1px solid grey;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#about{
    color: orange;
}
.div{
    position: absolute;
    left: 10px;
    top: 10px;
    
}

#about-img{
    float: left;
    padding: 20px;
}
#heading1{
    font-size: 50px;
    font-weight: 800;
    
}
#content1{
    font-size: 20px;
}
#div2{
    width: 85%;
    background-color: rgb(37, 33, 33);
    /* height: 600px; */
    box-sizing: border-box;
}
#special-div{
    display: flex;
    justify-content: center;
}
/* 
  #button{
    cursor: pointer;
}   */
/* #button{
    width: 20px;
} */
button{
    background-color: rgb(133, 104, 51);
    font-weight: 100;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
}
/* ----------------------- */
#superior{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}
#Fresh{
    background-image: url(home-img.jpg);
    background-repeat: no-repeat;
    width: 90%;
    height: 800px;
    
    height: 750px;
    /* box-sizing: border-box;
    padding: 20px; */
    /* background-size: 90%; */
}

#fresh-h1{
    padding-top: 50px;
    padding-left: 20px;
    font-size: 85px;
    font-weight: 800;
}

#p-fresh{
    padding-left:20px ;
    font-size: 25px;
    font-weight: 10;
}

/* OUR MENU */
#ourMenu{
    display: flex;
    justify-content: center;
}
#our{
    color: white;
    font-size: 50px;
    font-weight: 700;
}

#menu{
    color: orange;
    font-size: 50px;
}

/* CARDS */

.card{
    color: white;
    width: 370px;
    height: 400px; 
    border: 1px solid white;
    margin: 30px;
    box-sizing: content-box;
    text-align: center;
}
.card:hover{
    background-color: white;
    color: black;
    /* transform: scale(1.05,1.05); */
    
}
#cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.cimg{
    padding-top: 80px;
    padding-right: 135px;
    float: right;
    /* clear: both; */
}

.card .card-p{
    padding-top: 170px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

span{
    font-size: 30px;
}
.old-price {
    font-size: 20px;
    text-decoration: line-through;
}

/* PRODUCTS */

#parent-pr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.products{
    /* display: flex;
    flex-wrap: wrap; */
    border: 1px solid white;
    height: 500px;
    width: 370px;
    color: white;
    margin: 20px;
}

.product{
    width: 370px;
    height: 70px; 
    /* border: 1px solid white; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.image{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#heart{
    padding-left: 10px;
    padding-top: 10px;
}
.product-image{
    /* border: 1px solid white; */
    width: 200px;
    height: 250px;
    margin-top: 15px;
    margin-left: 85px;
    padding-top: 0px;
    /* padding-left: 50px; */
    /* height: auto; */
    display: inline-block;

}

.product-p{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
